{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>The Black Mamba!!</h1>
        <p>
            The goal is to destroy everyone I come across on the track.
            If you don't believe in yourself, then no one else will
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/kb.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}
