{{> head }}


    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hello, {{ capitalizar nombre }}!</h1>
        <p class="lead">The black mamba is considered one of the world's deadliest snakes, possessing venom that will kill prey in minutes.</p>
        <hr class="my-4">
        <p>the black mamba usually opens its inky-black mouth, spreads its narrow neck-flap and sometimes hisses.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{{> footer }}
